In [1]:
import pandas as pd

In [2]:
EXP_NAME = "exp211"
BASE = 4
WEIGHTS = [1.00,1.00,1.00]

In [3]:
sub1 = pd.read_csv(f"../../output/exp206_for_ensamble.csv")
sub2 = pd.read_csv(f"../../output/exp208_for_ensamble.csv")
sub3 = pd.read_csv(f"../../output/exp209_for_ensamble.csv")

In [4]:
sub1['predict'] = sub1.apply(lambda row: ' '.join(row.astype(str)), axis=1)
sub2['predict'] = sub2.apply(lambda row: ' '.join(row.astype(str)), axis=1)
sub3['predict'] = sub3.apply(lambda row: ' '.join(row.astype(str)), axis=1)

In [5]:
def cust_blend(dt, W = [1,1,1], base=3):
    REC = []
    REC.append(dt['predict_0'].split())
    REC.append(dt['predict_1'].split())
    REC.append(dt['predict_2'].split())
    
    res = {}
    for M in range(len(REC)):
        for n, v in enumerate(REC[M]):
            if v in res:
                res[v] += (W[M]/(n+base))
            else:
                res[v] = (W[M]/(n+base))
    
    # Sort dictionary by item weights
    res = list(dict(sorted(res.items(), key=lambda item: -item[1])).keys())
    
    # Return the top 10 itens only
    return ' '.join(res[:10])

In [6]:
sub = sub1[['predict']]
sub['predict1'] = sub2['predict']
sub['predict2'] = sub3['predict']
sub.columns = [f'predict_{i}' for i in range(len(sub.columns))]

/tmp/ipykernel_3697864/1602604573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['predict1'] = sub2['predict']
/tmp/ipykernel_3697864/1602604573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['predict2'] = sub3['predict']

In [7]:
sub

,predict_0,predict_1,predict_2
0,3560 11561 5466 9534 2680 4714 6488 5785 4420 ...,3560 11561 5466 9534 2680 4714 6488 4420 5785 ...,3560 11561 9534 5466 2680 4714 5785 4420 6488 ...
1,143 4066 8108 11923 613 6129 7014 9323 11237 5...,143 4066 8108 11923 613 6129 7014 9323 11237 1...,143 8108 11923 613 6129 4066 7014 9323 11237 1...
2,757 7710 9190 9910 1774 410 13570 10485 6721 3...,757 7710 9190 9910 1774 410 13570 10485 6721 3...,757 7710 9190 9910 1774 410 10485 13570 6721 3...
3,12341 6991 3359 13521 10861 4180 1542 9319 107...,12341 6991 3359 13521 1542 10861 4180 9319 107...,12341 3359 6991 13521 1542 10861 4180 10746 93...
4,10826 2862 763 607 11480 9020 5650 13235 12150...,2862 9020 10826 763 607 11480 5650 13235 1457 ...,2862 763 11480 607 10826 5650 9020 12150 1457 ...
...,...,...,...
174695,1997 5744 7888 11123 1885 12942 8771 7062 831 ...,1997 7888 5744 11123 1885 12942 7062 831 8771 ...,1997 7888 5744 11123 1885 12942 8771 831 7062 ...
174696,4014 1227 3802 12432 899 6874 5331 9723 13220 ...,4014 3802 1227 899 12432 13220 6874 3644 5331 ...,4014 899 12432 1227 3802 13220 3644 9113 448 2...
174697,13241 11037 8143 13797 13719 2087 9038 8123 39...,13241 11037 13797 8143 13719 3955 9038 3929 73...,13241 11037 13719 8143 9115 9038 3955 8123 121...
174698,3100 13672 3002 1687 2373 5515 12281 4976 5513...,3100 13672 3002 1687 2373 5513 4976 12281 5515...,3100 13672 3002 1687 2373 4976 5515 12281 6034...
174699,12767 11723 867 1891 10729 8648 3781 12522 562...,12767 867 11723 10729 8648 1891 3781 5623 1252...,12767 10729 867 11723 8648 1891 5623 3781 1252...

In [8]:
sub['predict'] = sub.apply(cust_blend, W = WEIGHTS, base=BASE, axis=1)

/tmp/ipykernel_3697864/3634783457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['predict'] = sub.apply(cust_blend, W = WEIGHTS, base=BASE, axis=1)

In [9]:
ensemble_sub = sub['predict'].str.split(' ',expand=True)

In [10]:
ensemble_sub.columns = [f'predict_{i}' for i in range(10)]

In [11]:
ensemble_sub

,predict_0,predict_1,predict_2,predict_3,predict_4,predict_5,predict_6,predict_7,predict_8,predict_9
0,3560,11561,5466,9534,2680,4714,6488,5785,4420,10233
1,143,8108,4066,11923,613,6129,7014,9323,11237,10434
2,757,7710,9190,9910,1774,410,13570,10485,6721,3400
3,12341,6991,3359,13521,1542,10861,4180,9319,10746,5657
4,2862,10826,763,9020,607,11480,5650,13235,12150,1457
...,...,...,...,...,...,...,...,...,...,...
174695,1997,7888,5744,11123,1885,12942,8771,7062,831,7641
174696,4014,1227,3802,899,12432,13220,3644,6874,9723,9113
174697,13241,11037,8143,13719,13797,9038,3955,9115,8123,3929
174698,3100,13672,3002,1687,2373,4976,5515,12281,5513,6034
174699,12767,867,11723,10729,1891,8648,3781,5623,12522,1989

In [12]:
ensemble_sub.to_csv(f"../../output/{EXP_NAME}.csv",index=False)

In [13]:
ensemble_sub.describe()

,predict_0,predict_1,predict_2,predict_3,predict_4,predict_5,predict_6,predict_7,predict_8,predict_9
count,174700,174700,174700,174700,174700,174700,174700,174700,174700,174700
unique,8352,6333,6631,7007,7182,7407,7596,7682,7902,8059
top,3274,2862,12089,12350,6470,7947,5116,2160,9241,1774
freq,451,617,517,452,603,710,995,1249,1248,467